body{
    background-color: #e4e4e4;
    line-height: 2.428571;
}
.main {
    background-color: white;
    margin: 30px;
}
.btn-publsh{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.media {
    margin-top: 23px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}